<div class="div1">

    <div>

        <h1><span>Top </span>Places with reviews</h1>

        <h2>Travelers want to see more reviews of these places</h2>

    </div>
    
    <div>
        <button>
          <img src="./img/icons/Pen.png" alt="icon">
          Write New Review
        </button>
      </div>

</div>



<div class="cards-container">

     
    <div class="card">
        <img src="img/image 11.png" alt="Beautiful Beach">

        <div class="text-content">
            
            <span class="card-title">Mumbai, India</span>

            <span class="card-title1">A Wonderful Journey to India</span>

            <h3>"India offers a diverse tapestry of history, culture, and breathtaking landscapes."</h3>

            <p>"India offers a diverse travel experience, from bustling cities to peaceful backwaters. Explore UNESCO World Heritage Sites like the Taj Mahal and ancient cities."</p>
        </div>
    </div>


    <div class="card">
        <img src="img/pexels-victor-lavaud-302543-3361480.png" alt="Beautiful Beach">

        <div class="text-content">
            
            <span class="card-title">Kathmandu, Nepal</span>

            <span class="card-title1">11 Best Places to visit in Nepal</span>

            <h3>"Nepal's friendly locals and breathtaking landscapes made my Himalayan trek unforgettable."</h3>

            <p>I recently spent two unforgettable weeks in Nepal. The friendly locals and stunning landscapes made the trip memorable. Trekking in the Himalayas was the highlight, with breathtaking views and the incredible experience of reaching Everest Base Camp.</p>
        </div>
    </div>



    <div class="card">

       

           <img src="img/pexels-julia-volk-5193270.png" alt="Beautiful Beach">

        
        

        <div class="text-content">
            
            <span class="card-title">Barcelona, Spain</span>

            <span class="card-title1">A Solo Trip Across Europe</span>

            <h3>"Europe's stunning landscapes, from Swiss Alps to Mediterranean beaches."</h3>

            <p>Europe offers stunning scenery, from Swiss Alps to Norwegian fjords. Its efficient train system lets you easily explore diverse art, architecture, and cuisine across its cities</p>
        </div>
    </div>

    <div>
        <button class="my-button">
          <img src="./img/icons/Pen.png" alt="icon">
          Write New Review
        </button>
      </div>



</div>