<div class="div1">

    <div>
        <h1><span>Top </span>location to explore</h1>
        <h2>Here are some of the most visited places in 2023</h2>
    </div>
    
    <div>
        <button>View All</button>
    </div>
</div>


<!-- /* /////////////////Slider HomePage/////////////////////////// */    -->


<div class="container">

<div class="slider-wrapper">



<ul class="image-list">


        <li >
            
            <div class="card">

                <img class="image-item" src="img/Frame 26.png" alt="img-1" />

                <div class="Desc">

                    <h5 class="card-title">Tokyo, Japan</h5>
                    <h2 class="card-title">The Shibuya</h2>
                </div>
            </div>
            
        </li>



        <li >
            
            <div class="card">

                <img class="image-item" src="img/Frame 17-3.png" alt="img-2" />

                <div class="Desc">

                    <h5 class="card-title">Paris, France</h5>
                    <h2 class="card-title">The Eiffel Tower</h2>
                </div>
            </div>
            
        </li>


        <li >
            
            <div class="card">

                <img class="image-item" src="img/Frame 17.png" alt="img-3" />

                <div class="Desc">

                    <h5 class="card-title">Rio de Janeiro, Brazil</h5>
                    <h2 class="card-title">Christ the Redeemer</h2>
                </div>
            </div>
            
        </li>


        <li >
            
            <div class="card">

                <img class="image-item" src="img/Frame 17-4.png" alt="img-4" />

                <div class="Desc">

                    <h5 class="card-title">Rome, Italy</h5>
                    <h2 class="card-title">The Colosseum</h2>
                </div>
            </div>
            
        </li>


      
        <li >
            
            <div class="card">


                <img class="image-item" src="img/Frame 18.png" alt="img-5" />
                <div class="Desc">

                    <h5 class="card-title">New York City, USA</h5>
                    <h2 class="card-title">Central Park</h2>
                </div>
            </div>
            
        </li>
      

        <li >
            
            <div class="card">


                <img class="image-item" src="img/Frame 17-5.png" alt="img-6" />
                <div class="Desc">

                    <h5 class="card-title">Sydney, Australia</h5>
                    <h2 class="card-title">Sydney Opera House</h2>
                </div>
            </div>
            
        </li>


        <li >
            
            <div class="card">


                <img class="image-item" src="img/Frame 17-2.png" alt="img-7" />
                <div class="Desc">

                    <h5 class="card-title">Cairo, Egypt</h5>
                    <h2 class="card-title">The Pyramids of Giza</h2>
                </div>
            </div>
            
        </li>


        <li >
            
            <div class="card">


                <img class="image-item" src="img/Frame 17-6.png" alt="img-8" />                    <div class="Desc">

                    <h5 class="card-title">Istanbul, Turkey</h5>
                    <h2 class="card-title">Hagia Sophia</h2>
                </div>
            </div>
            
        </li>
      
     
     
    </ul>


</div>

</div>    



<!-- /* /////////////////Subscribe HomePage/////////////////////////// */    -->



<div class="Sub-Container">

<div>
    <h1>Join <span>98,641 </span>Monthly Readers. Subscribe<br>Today!</h1>
</div>

<div class="EmailForm">

    <form>
        <div class="mb-3">
            
          <input  placeholder="Email Adress" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>

    </form>

    

</div>

<div class="Sub-Btn">
    <button>Subscribe</button>
</div>

</div>


<!-- /* /////////////////Tips Crds HomePage/////////////////////////// */    -->


<div class="div1">

<div>
    <h1><span>Top </span>TRAVEL TIPS</h1>
    <h2>"Find top tips for exploring popular destinations worldwide."</h2>
</div>

<div>
    <button>View All</button>
</div>
</div>

<div class="topTips-Container">

<div class="topTips-Card">

    <img class="img" src="img/pexels-punttim-24698.png" alt="Image description" />

    <div class="date">July 15, 2021 - Tips and Tricks</div>

    <div class="title">
        Going to the Extreme<br>
        -The Northern Pole.
    </div>
   
    <div class="footer">

        <div class="location">
            <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
            </div>

            <div class="comment">
            <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
            </div>

            <div class="review">
                <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
            </div>
    </div>

</div>

<div class="topTips-Card">

    <img class="img" src="img/pexels-alexazabache-3290068.png" alt="Image description" />

    <div class="date">July 15, 2021 - Tips and Tricks</div>

    <div class="title">
        Smartest cites and <br>
        how to enjoy them.
    </div>
   
    <div class="footer">

        <div class="location">
            <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
            </div>

            <div class="comment">
            <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
            </div>

            <div class="review">
                <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
            </div>
    </div>

</div>

<div class="topTips-Card">

    <img class="img" src="img/pexels-habi-dompil-1539296-2964163.png" alt="Image description" />

    <div class="date">July 15, 2021 - Tips and Tricks</div>

    <div class="title">
        Summer Vibes.. Where<br>
        to spend the energy.
    </div>
   
    <div class="footer">

        <div class="location">
        <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
        </div>

        <div class="comment">
        <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
        </div>

        <div class="review">
            <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
        </div>
    </div>

</div>


</div>    



















<!-- Card 1 -->
<!-- <div class="topTips-Card">
  <img src="img/pexels-punttim-24698.png" alt="Card Image 1">
  <div class="card-content">
    <p class="date">October 16, 2024</p>
    <h2 class="title">Card Title 1</h2>
    <div class="info-line">
      <i class="icon icon1"></i>
      <p>Text line 1</p>
    </div>
    <div class="info-line">
      <i class="icon icon2"></i>
      <p>Text line 2</p>
    </div>
    <div class="info-line">
      <i class="icon icon3"></i>
      <p>Text line 3</p>
    </div>
  </div>
</div> -->