
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainColor{
  color:#14677f;
}
:root{
  --mainColor:#14677f;
  --secColor:#ffa500;
  --thirdColor:#596365;
}
.Urbanist-font{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: #596365;
  text-shadow: 1px 1px 0 #dee1e2 ;
}
.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-size: 48px;
  font-style: normal;
  line-height: 59.44px;
  color:#14677f;
}
h1 > span{
  color:#ffa500;
}
section{
  padding: 30px;
}
.mainBtn{
  background-color: white;
  color:#14677f;
  font-size:20px ;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 18px;
  border: 1px solid #14677f;
  cursor: pointer;
  transition: background-color 1s;
}
.mainBtn:hover{
  background-color:#ffa500;
  border: .5px solid #14677f;
  box-shadow: 2px 2px  #14677f;
}
.planeStyle{
  color: #14677f;
  text-shadow: 2px 2px  #ffa500;
  transition: color .5s;
}
.planeStyle:hover{
  color: #ffa500;
  text-shadow: 2px 2px  #14677f;
}
p{
  line-height: .7cm;
}
.pMore{
  color:#14677f;
  text-shadow: 1px 1px  #a9a9a9 ;
  font-weight: 200;
}
.carousel-inner{
  width: 80% !important;
  margin: auto;
}
.pImgs{
  position: relative;
  left:-50px;
  bottom: 0px;
}
.bgLightDanger{
  background-color: #fce4e4;
  border-radius: 50px;
  width: fit-content;
  padding: 10px;
}


/* media for tabes */
@media (max-width:992px) {
  .h1Title{
    font-size: 36px;
  }
  .Urbanist-font{
    font-size: 13px;
  }  
  .mainBtn{
    width: 120px;
    font-size:15px ;
    padding: 8px 15px;
    border-radius: 10px;
  }
  .bgLightDanger{
    font-size: 12px;
  }
  .pImgs{
    left:0px;
  }
}

/* media for phones */
@media (max-width:786px) {

}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Metal+Mania&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Metal+Mania&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {

  margin: 0;
  padding: 0;

}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;

}

:root{


  --MainWhite-color:#DEE1E2;
  --Gray-color:#596365;
  --Black-color:#222A2C;

  --main-color : #14677F ;
  --sec-color :#FFA500 ; 
   
  --nav-color : #C4F2FF; 
  
  --beige-color:#FFD8A8;
  --lightBlue-color:#97E8FF;
}


/* /////////////////////////// */


.div1 {
  
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 30px 0px; /* Corrected padding */
  max-width: 1185px; 
  margin: 0 auto; 
  margin-bottom: 48px;
}

.div1 h1{
  margin: 0;
  font-family: "Metal Mania", system-ui;
  font-weight: lighter;
  font-size: 60px;
  color: var(--main-color);
}


.div1 h1 span{
  color: #FFA500;
}

.div1 h2 {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #596365; /* Text color */
  -webkit-text-stroke: 0.7px #758a92; /* Stroke color and width */

}

.div1 button{

width: 152px;
height: 69px;
border-radius: 18px;
border: 1.6px solid var(--main-color);
color: var(--main-color);
background-color: white;
font-size: 24px;
font-weight: 600;;
font-family: "Urbanist", sans-serif;
transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
cursor: pointer;
}

.div1 button:hover {
  background-color: var(--sec-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* /////////////////////////// */



/* Desktops and Laptops (992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {

    .div1 {
      
     max-width: 950px;  
     margin: 0 auto; 
    }
  
    .div1 h1{
      font-size: 40px;
    }
}

/* Tablets (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {


    .div1 {
      
      max-width: 950px;  
      margin: 0 auto; 
      margin-left: 12px;
  
     }
   
     .div1 h1{
       font-size: 40px;
     }
    }
    
    
    /* Portrait Tablets and Small Devices (≤767px) */
@media (max-width: 767px) {

    .div1 {
     
     max-width: 950px;  
     margin: 0 auto; 
     margin-left: 12px;
 
    }
  
    .div1 h1{
      font-size: 40px;
    }
}



@media  (min-width: 577px) and (max-width: 766px)  {

    .div1 {
     
     max-width: 950px;  
     margin: 0 auto; 
     margin-left: 22px;
  
    }
  
    .div1 h1{
      font-size: 30px;
    }
  
    .div1 h2 {
     
      font-size: 12px;
    
    
    }
  
  
    .div1 button{
  
      width: 100px;
      height: 49px;
      font-size: 18px;
      }
    }


 /* Large Phones (≤576px) */
@media (max-width: 576px) {
    .div1 {
     
      max-width: 950px;  
      margin: 0 auto; 
      margin-left: 12px;
     }
   
     .div1 h1{
       font-size: 20px;
     }
   
     .div1 h2 {
      
       font-size: 12px;
     
     
     }
   
   
     .div1 button{
   
       width: 100px;
       height: 49px;
       font-size: 18px;
       }
    }
    
    

    