<section>
  <header class="container m-auto d-flex justify-content-between ">
    <div>
      <h1 class="metal-mania-regular h1Title">Plan Your Best <span>Destination</span>  Ever</h1>
    <p class="Urbanist-font">Making the Most of Your Travel Experience in 2023</p>
    </div>
    <div class="d-flex align-items-center">
      <button class="mainBtn">View More</button>
    </div>
  </header>
  <!------------------ careousel  ---------------------->
    <div id="carouselExample" class="carousel slide container-fluid ">
        <div class="carousel-inner ">
          <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-12  col-lg-5 py-4">
                  <img src="./images/Vector.png" class=" w-100" alt="...">
                </div>
                <div class="col-sm-12 col-lg-7  pt-5">
                  <div class="w-100 p-3">
                    <div class=" text-danger  bgLightDanger ">
                      <i class="fa-solid fa-landmark text-danger  fa-lg p-1"></i>
                      <span class="fa-lg ">Travel experience</span>
                    </div>
                    <div class="pt-4">
                      <h4>TOP 15 tourist destinations you must "check-in"</h4>
                      <p class="text-secondary py-4 ">When it comes to Quy Nhon tourist destinations, many people will think that the strength of this place is the sea, so it is mainly beautiful beaches with clear water...</p>
                      <p class="pMore">Read More</p>
                    </div>
                  </div>
                  <div class="d-flex  align-items-center  pImgs ">
                    <div>
                      <img src="./images/Frame 40.png" alt="" class="w-100">
                    </div>
                    <div>
                      <img src="./images/Frame 41.png" alt="" class="w-100">
                    </div>
                    <div>
                      <img src="./images/Frame 42.png" alt="" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div class="col-sm-12  col-lg-5 py-4">
                <img src="./images/pexels-lureofadventure-15735449.png" class=" w-100" alt="...">
              </div>
              <div class="col-sm-12 col-lg-7  pt-5">
                <div class="w-100 p-3">
                  <div class=" text-danger  bgLightDanger ">
                    <i class="fa-solid fa-landmark text-danger  fa-lg p-1"></i>
                    <span class="fa-lg ">Travel experience</span>
                  </div>
                  <div class="pt-4">
                    <h4>TOP 10 hidden gems you can't miss</h4>
                    <p class="text-secondary py-4 ">From ancient temples to breathtaking landscapes, these destinations will take you off the beaten path and into the heart of true adventure. Discover the beauty beyond the usual tourist trails...</p>
                    <p class="pMore">Read More</p>
                  </div>
                </div>
                <div class="d-flex  align-items-center  pImgs ">
                  <div>
                    <img src="./images/Frame 43.png" alt="" class="w-100">
                  </div>
                  <div>
                    <img src="./images/Frame 44.png" alt="" class="w-100">
                  </div>
                  <div>
                    <img src="./images/Frame 45.png" alt="" class="w-100">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div class="col-sm-12  col-lg-5 py-4">
                <img src="./images/pexels-ninauhlikova-725255.png" class=" w-100" alt="...">
              </div>
              <div class="col-sm-12 col-lg-7  pt-5">
                <div class="w-100 p-3">
                  <div class=" text-danger  bgLightDanger ">
                    <i class="fa-solid fa-landmark text-danger  fa-lg p-1"></i>
                    <span class="fa-lg ">Travel experience</span>
                  </div>
                  <div class="pt-4">
                    <h4>Must-see 12 natural wonders across Asia</h4>
                    <p class="text-secondary py-4 ">Explore the most stunning natural attractions, from towering mountains to pristine lakes. These breathtaking wonders of nature should be on every traveler's bucket list....</p>
                    <p class="pMore">Read More</p>
                  </div>
                </div>
                <div class="d-flex  align-items-center  pImgs ">
                  <div>
                    <img src="./images/Frame 46.png" alt="" class="w-100">
                  </div>
                  <div>
                    <img src="./images/Frame 47.png" alt="" class="w-100">
                  </div>
                  <div>
                    <img src="./images/Frame 48.png" alt="" class="w-100">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div class="col-sm-12  col-lg-5 py-4">
                <img src="./images/pexels-pixabay-262780.png" class=" w-100" alt="...">
              </div>
              <div class="col-sm-12 col-lg-7  pt-5">
                <div class="w-100 p-3">
                  <div class=" text-danger  bgLightDanger ">
                    <i class="fa-solid fa-landmark text-danger  fa-lg p-1"></i>
                    <span class="fa-lg ">Travel experience</span>
                  </div>
                  <div class="pt-4">
                    <h4>Explore 8 iconic landmarks worldwide</h4>
                    <p class="text-secondary py-4 ">These world-famous landmarks are more than just tourist spots—they're symbols of history and culture. Dive into the stories behind each one as you plan your next adventure...</p>
                    <p class="pMore">Read More</p>
                  </div>
                </div>
                <div class="d-flex  align-items-center  pImgs ">
                  <div>
                    <img src="./images/Frame 46.png" alt="" class="w-100">
                  </div>
                  <div>
                    <img src="./images/Frame 50.png" alt="" class="w-100">
                  </div>
                  <div>
                    <img src="./images/Frame 51.png" alt="" class="w-100">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div class="col-sm-12  col-lg-5 py-4">
                <img src="./images/pexels-jake-pnw-1699574.png" class=" w-100" alt="...">
              </div>
              <div class="col-sm-12 col-lg-7  pt-5">
                <div class="w-100 p-3">
                  <div class=" text-danger  bgLightDanger ">
                    <i class="fa-solid fa-landmark text-danger  fa-lg p-1"></i>
                    <span class="fa-lg ">Travel experience</span>
                  </div>
                  <div class="pt-4">
                    <h4>TOP 10 culinary delights to savor</h4>
                    <p class="text-secondary py-4 ">Experience the rich flavors and unique dishes from around the globe. From street food to gourmet meals, these must-try foods will enhance your travels...</p>
                    <p class="pMore">Read More</p>
                  </div>
                </div>
                <div class="d-flex  align-items-center  pImgs ">
                  <div>
                    <img src="./images/Frame 52.png" alt="" class="w-100">
                  </div>
                  <div>
                    <img src="./images/Frame 53.png" alt="" class="w-100">
                  </div>
                  <div>
                    <img src="./images/Frame 54.png" alt="" class="w-100">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <i class="fa-solid fa-plane fa-rotate-180 fa-2xl planeStyle"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="visually-hidden">Next</span>
          <i class="fa-solid fa-plane fa-2xl planeStyle"></i>
        </button>
    </div>
</section>

