
<div class="div1">
    <div>
        <h1>CONTACT US</h1>
        
    </div>

    <h3>PLEASE, FEEL YOURSELF COMFORTABLE TO FILL IN OUR CONTACT FORM</h3>
   
</div>


<div class="container mt-5" >

    <div >
        <div class="col-md-7 contact-form">
           
            
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
            <input type="email" placeholder="Email">
            <textarea placeholder="Message"></textarea>
            <button>Submit</button>
            
            

            
    </div>

    </div>    


    <div>
         
                <div class="col-md-5 get-in-touch">
                    <h2>Get In Touch</h2>
                    </div>
            
                    <div class="social-media-boxes">
                    <div style="background-color: #4056AC;" class="social-box facebook">
                        <img src="img/icons/FB.png" alt="Facebook Logo" class="social-logo" />
                        <div class="social-stats">
                        <p class="likes-count">65.5K</p>
                        <p class="likes-text">Likes</p>
                        </div>
                    </div>
            
                    <div style="background-color: #60B7FE;" class="social-box twitter">
                        <img src="img/icons/akar-icons_twitter-fill.png" alt="Twitter Logo" class="social-logo" />
                        <div class="social-stats">
                        <p class="followers-count">105K</p>
                        <p class="followers-text">Followers</p>
                        </div>
                    </div>
            
                    <div style="background-color: #FE2C3C;" class="social-box youtube">
                        <img src="img/icons/Group 24539.png" alt="Youtube Logo" class="social-logo" />
                        <div class="social-stats">
                        <p class="followers-count">1m</p>
                        <p class="followers-text">Subscribers</p>
                        </div>
                    </div>
            
                    <div style="background-color: #E14D93;" class="social-box instagram">
                        <img src="img/icons/akar-icons_instagram-fill.png" alt="Instagram Logo" class="social-logo" />
                        <div class="social-stats">
                        <p class="followers-count">85K</p>
                        <p class="followers-text">Followers</p>
                        </div>
                    </div>
                    </div>
         

    </div>

</div>    



<!-- /* /////////////////Subscribe HomePage/////////////////////////// */    -->



<div class="Sub-Container">

<div>
    <h1>Join <span>98,641 </span>Monthly Readers. Subscribe<br>Today!</h1>
</div>

<div class="EmailForm">

    <form>
        <div class="mb-3">
            
          <input  placeholder="Email Adress" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>

    </form>

    

</div>

<div class="Sub-Btn">
    <button>Subscribe</button>
</div>

</div>
