<div class="div1">
    <div>
        <h1><span>Top </span>Travel Blogs</h1>
        <h2>Explore Our Latest Blogs From Our Active Users</h2>
    </div>
    
    <div>
        <button>View All</button>
    </div>
</div>


<div class="grid-container">

    <div class="column1">

        <div class="card">

            <img class="Main-img" src="./img/CardDiv2.png" alt="Image description" />
            <div class="date">July 15, 2021 - Tips and Tricks</div>

            <div class="title">
                A Traveler’s <span>guide</span> to Penang, Malaysia - Where to <span>Eat</span>, <span>Drink</span>, <span>Sleep</span>, and <span>Explore</span>
            </div>
            <div class="description">
                Discover the vibrant flavors, rich culture, and breathtaking landscapes of Penang. From the best street food to must-visit attractions, this guide will help you eat, drink, sleep, and explore like a local.
            </div>
            <div class="footer">

                <div class="location">
                <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" /> Penang, Malaysia
                </div>
                
                <div class="comment">
                <img src="./img/icons/Vector.png" alt="Comment icon" />Comment (52)
                </div>
            </div>
            </div>
    </div>



    <div class="column2">

    <div class="row1"  >

        <div class="recent-posts">

            <h2>Recent Post</h2>
            </div>
            <div class="post-boxes">
            <div class="post-box box1">
                <img src="./img/pexels-aaditya-arora-188236-592753.jpg" alt="Post Image" class="post-image" />
                <div class="post-content">
                <p class="post-date">September 17, 2018 - Tips & Tricks</p>
                <p class="post-description">Discover Tbilisi, Georgia: Eat, Stay, Explore</p>
                </div>
                <div class="hover-background"></div>
                <div class="hover-text">
                Read the full blog
                <img src="./img/icons/arrow-up-right.png" alt="Arrow Icon" class="arrow-icon" />
                </div>
            </div>
    
            <div class="post-box box2">
                <img src="./img/pexels-andrew-2859169.jpg" alt="Post Image" class="post-image" />
                <div class="post-content">
                <p class="post-date">September 18, 2018 - More Tips</p>
                <p class="post-description">Guide to Tbilisi: Food, Stay, Fun</p>
                </div>
                <div class="hover-background"></div>
                <div class="hover-text">
                Read the full blog
                <img src="./img/icons/arrow-up-right.png" alt="Arrow Icon" class="arrow-icon" />
                </div>
            </div>
    
            <div class="post-box box3">
                <img src="./img/pexels-jodaarba-2179666.jpg" alt="Post Image" class="post-image" />
                <div class="post-content">
                <p class="post-date">September 19, 2018 - New Adventures</p>
                <p class="post-description">Visiting Tbilisi: Eat, Sleep, and Explore</p>
                </div>
                <div class="hover-background"></div>
                <div class="hover-text">
                Read the full blog
                <img src="./img/icons/arrow-up-right.png" alt="Arrow Icon" class="arrow-icon" />
                </div>
            </div>
    
            <div class="post-box box4">
                <img src="./img/pexels-jokassis-27027747.jpg" alt="Post Image" class="post-image" />
                <div class="post-content">
                <p class="post-date">September 20, 2018 - Travel Tips</p>
                <p class="post-description">Tbilisi, Georgia: Food, Stay, Sights</p>
                </div>
                <div class="hover-background"></div>
                <div class="hover-text">
                Read the full blog
                <img src="./img/icons/arrow-up-right.png" alt="Arrow Icon" class="arrow-icon" />
                </div>
            </div>
    </div>

    </div>




    <div class="row2" >
        <div class="get-in-touch">
            <h2>Get In Touch</h2>
            </div>
    
            <div class="social-media-boxes">
            <div style="background-color: #4056AC;" class="social-box facebook">
                <img src="./img/icons/FB.png" alt="Facebook Logo" class="social-logo" />
                <div class="social-stats">
                <p class="likes-count">65.5K</p>
                <p class="likes-text">Likes</p>
                </div>
            </div>
    
            <div style="background-color: #60B7FE;" class="social-box twitter">
                <img src="./img/icons/akar-icons_twitter-fill.png" alt="Twitter Logo" class="social-logo" />
                <div class="social-stats">
                <p class="followers-count">105K</p>
                <p class="followers-text">Followers</p>
                </div>
            </div>
    
            <div style="background-color: #FE2C3C;" class="social-box youtube">
                <img src="./img/icons/Group 24539.png" alt="Youtube Logo" class="social-logo" />
                <div class="social-stats">
                <p class="followers-count">1m</p>
                <p class="./followers-text"  style="color: white;">Subscribers</p>
                </div>
            </div>
    
            <div style="background-color: #E14D93;" class="social-box instagram">
                <img src="./img/icons/akar-icons_instagram-fill.png" alt="Instagram Logo" class="social-logo" />
                <div class="social-stats">
                <p class="followers-count">85K</p>
                <p class="followers-text">Followers</p>
                </div>
            </div>
            </div>
    </div>



    
    </div>






</div>


<div class="grid-container">

    <div class="column1">

        <div class="card">

            <img class="Main-img" src="./img/pexels-ninauhlikova-725255.png" alt="Image description" />
            <div class="date">July 15, 2021 - Tips and Tricks</div>

            <div class="title">
                A Traveler’s <span>guide</span> to Penang, Malaysia - Where to <span>Eat</span>, <span>Drink</span>, <span>Sleep</span>, and <span>Explore</span>
            </div>
            <div class="description">
                Discover the vibrant flavors, rich culture, and breathtaking landscapes of Penang. From the best street food to must-visit attractions, this guide will help you eat, drink, sleep, and explore like a local.
            </div>
            <div class="footer">

                <div class="location">
                <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" /> Penang, Malaysia
                </div>
                
                <div class="comment">
                <img src="./img/icons/Vector.png" alt="Comment icon" />Comment (52)
                </div>
            </div>
        </div>

    </div>



    <div class="column2">

            <div class="row1"  >

                <div class="card-small" style="margin-bottom: 20px;" >

                    <img class="Main-img" src="./img/pexels-punttim-24698.png" alt="Image description" />
                    <div class="date">July 15, 2021 - Tips and Tricks</div>

                    <div class="title">
                        A Traveler’s <span>guide</span> to Penang, Malaysia - Where to <span>Eat</span>, <span>Drink</span>, <span>Sleep</span>, and <span>Explore</span>
                    </div>
                    <div class="description">
                        Discover the vibrant flavors, rich culture, and breathtaking landscapes of Penang. From the best street food to must-visit attractions, this guide will help you eat, drink, sleep, and explore like a local.
                    </div>
                    <div class="footer">

                        <div class="location">
                        <img src="img/icons/material-symbols_location-on-outline.png" alt="Location icon" /> Penang, Malaysia
                        </div>
                        
                        <div class="comment">
                        <img src="img/icons/Vector.png" alt="Comment icon" />Comment (52)
                        </div>
                    </div>
                </div>

                <div class="card-small">

                    <img class="Main-img" src="img/pexels-freestockpro-1004542.png" alt="Image description" />
                    <div class="date">July 15, 2021 - Tips and Tricks</div>

                    <div class="title">
                        A Traveler’s <span>guide</span> to Penang, Malaysia - Where to <span>Eat</span>, <span>Drink</span>, <span>Sleep</span>, and <span>Explore</span>
                    </div>
                    <div class="description">
                        Discover the vibrant flavors, rich culture, and breathtaking landscapes of Penang. From the best street food to must-visit attractions, this guide will help you eat, drink, sleep, and explore like a local.
                    </div>
                    <div class="footer">

                        <div class="location">
                        <img src="img/icons/material-symbols_location-on-outline.png" alt="Location icon" /> Penang, Malaysia
                        </div>
                        
                        <div class="comment">
                        <img src="img/icons/Vector.png" alt="Comment icon" />Comment (52)
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>


<div class="div1" style="margin-top: 126px;">
    <div>
        <h1><span>Top </span>RECENT RESERACH</h1>
        <h2>Here are some of the places you have searched</h2>
    </div>

</div>


<div class="container" style="margin-bottom: 88px;">

    <div class="slider-wrapper">

    

    <ul class="image-list">



            <li >
                <div class="location-card">

                    <img src="img/icons/material-symbols_location-on-outline.png" alt="">

                    <div class="loc-text">
                
                        <h5 class="card-title">Diocletian's Palace</h5>
                        <h2 class="card-title">Split, Croatia</h2>
                </div>

               </div>
            </li>

            <li >
                <div class="location-card">

                    <img src="img/icons/material-symbols_location-on-outline.png" alt="">

                    <div class="loc-text">
                
                        <h5 class="card-title">Museum of Tomorrow</h5>
                        <h2 class="card-title">Rio de Janeiro, Brazil</h2>
                </div>

               </div>
            </li>

            <li >
                <div class="location-card">

                    <img src="img/icons/search.png" alt="">

                    <div class="loc-text">
                
                        <h5 class="card-title">Restaurants in Canada</h5>
                </div>

               </div>
            </li>

            <li >
                <div class="location-card">

                    <img src="img/icons/search.png" alt="">

                    <div class="loc-text">
                
                        <h5 class="card-title">Hotels in Canada</h5>
                       
                </div>

               </div>
            </li>

            <li >
                <div class="location-card">

                    <img src="img/icons/material-symbols_location-on-outline.png" alt="">

                    <div class=".location-card-content">
                
                        <h5 class="card-title">Ngorongoro Conservation Area</h5>
                        <h2 class="card-title">Northern Tanzania</h2>
                </div>

               </div>
            </li>


            <li >
                <div class="location-card">

                    <img src="img/icons/material-symbols_location-on-outline.png" alt="">

                    <div class="loc-text">
                
                        <h5 class="card-title">Louvre Museum </h5>
                        <h2 class="card-title">SParis, France</h2>
                </div>

               </div>
            </li>

            <li >
                <div class="location-card">

                    <img src="img/icons/search.png" alt="">

                    <div class="loc-text">
                
                        <h5 class="card-title">Pujol</h5>
        
                </div>

               </div>
            </li>

            <li >
                <div class="location-card">

                    <img src="img/icons/material-symbols_location-on-outline.png" alt="">

                    <div class="loc-text">
                
                        <h5 class="card-title">The Guggenheim Museum</h5>
                        <h2 class="card-title">Bilbao, Spain</h2>
                </div>

               </div>
            </li>

            <li >
                <div class="location-card">

                    <img src="./img/icons/search.png" alt="">

                    <div class="loc-text">
                
                        <h5 class="card-title">Osteria Francescana</h5>
                       
                </div>

               </div>
            </li>

            <li >
                <div class="location-card">

                    <img src="img/icons/material-symbols_location-on-outline.png" alt="">

                    <div class=".location-card-content">
                
                        <h5 class="card-title">The Acropolis Museum</h5>
                        <h2 class="card-title">Athens, Greece</h2>
                </div>

               </div>
            </li>


        
        
    </ul>

    
    </div>

</div> 