<div class="div1">

    <div>
        <h1><span>Top </span>TRAVEL TIPS</h1>
        <h2>"Find top tips for exploring popular destinations worldwide."</h2>
    </div>
    
    <div>
        <button>View All</button>
    </div>
    </div>
    
    <div class="topTips-Container">
    
    <div class="topTips-Card">
    
        <img class="img" src="img/pexels-punttim-24698.png" alt="Image description" />
    
        <div class="date">July 15, 2021 - Tips and Tricks</div>
    
        <div class="title">
            Going to the Extreme<br>
            -The Northern Pole.
        </div>
       
        <div class="footer">
    
            <div class="location">
                <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
                </div>
    
                <div class="comment">
                <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
                </div>
    
                <div class="review">
                    <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
                </div>
        </div>
    
    </div>
    
    <div class="topTips-Card">
    
        <img class="img" src="img/pexels-alexazabache-3290068.png" alt="Image description" />
    
        <div class="date">July 15, 2021 - Tips and Tricks</div>
    
        <div class="title">
            Smartest cites and <br>
            how to enjoy them.
        </div>
       
        <div class="footer">
    
            <div class="location">
                <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
                </div>
    
                <div class="comment">
                <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
                </div>
    
                <div class="review">
                    <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
                </div>
        </div>
    
    </div>
    
    <div class="topTips-Card">
    
        <img class="img" src="img/pexels-habi-dompil-1539296-2964163.png" alt="Image description" />
    
        <div class="date">July 15, 2021 - Tips and Tricks</div>
    
        <div class="title">
            Summer Vibes.. Where<br>
            to spend the energy.
        </div>
       
        <div class="footer">
    
            <div class="location">
            <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
            </div>
    
            <div class="comment">
            <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
            </div>
    
            <div class="review">
                <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
            </div>
        </div>
    
    </div>
    
    
    </div>    
    
    <div class="div1 mb-0">

        
        <div class="topTips-Container">
        
        <div class="topTips-Card">
        
            <img class="img" src="img/pexels-punttim-24698.png" alt="Image description" />
        
            <div class="date">July 15, 2021 - Tips and Tricks</div>
        
            <div class="title">
                Going to the Extreme<br>
                -The Northern Pole.
            </div>
           
            <div class="footer">
        
                <div class="location">
                    <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
                    </div>
        
                    <div class="comment">
                    <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
                    </div>
        
                    <div class="review">
                        <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
                    </div>
            </div>
        
        </div>
        
        <div class="topTips-Card">
        
            <img class="img" src="img/pexels-alexazabache-3290068.png" alt="Image description" />
        
            <div class="date">July 15, 2021 - Tips and Tricks</div>
        
            <div class="title">
                Smartest cites and <br>
                how to enjoy them.
            </div>
           
            <div class="footer">
        
                <div class="location">
                    <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
                    </div>
        
                    <div class="comment">
                    <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
                    </div>
        
                    <div class="review">
                        <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
                    </div>
            </div>
        
        </div>
        
        <div class="topTips-Card">
        
            <img class="img" src="img/pexels-habi-dompil-1539296-2964163.png" alt="Image description" />
        
            <div class="date">July 15, 2021 - Tips and Tricks</div>
        
            <div class="title">
                Summer Vibes.. Where<br>
                to spend the energy.
            </div>
           
            <div class="footer">
        
                <div class="location">
                <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
                </div>
        
                <div class="comment">
                <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
                </div>
        
                <div class="review">
                    <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
                </div>
            </div>
        
        </div>
        
        
        </div>    
    </div>    

        <div class="div1 ">

        
            <div class="topTips-Container">
            
            <div class="topTips-Card">
            
                <img class="img" src="img/pexels-punttim-24698.png" alt="Image description" />
            
                <div class="date">July 15, 2021 - Tips and Tricks</div>
            
                <div class="title">
                    Going to the Extreme<br>
                    -The Northern Pole.
                </div>
               
                <div class="footer">
            
                    <div class="location">
                        <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
                        </div>
            
                        <div class="comment">
                        <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
                        </div>
            
                        <div class="review">
                            <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
                        </div>
                </div>
            
            </div>
            
            <div class="topTips-Card">
            
                <img class="img" src="img/pexels-alexazabache-3290068.png" alt="Image description" />
            
                <div class="date">July 15, 2021 - Tips and Tricks</div>
            
                <div class="title">
                    Smartest cites and <br>
                    how to enjoy them.
                </div>
               
                <div class="footer">
            
                    <div class="location">
                        <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
                        </div>
            
                        <div class="comment">
                        <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
                        </div>
            
                        <div class="review">
                            <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
                        </div>
                </div>
            
            </div>
            
            <div class="topTips-Card">
            
                <img class="img" src="img/pexels-habi-dompil-1539296-2964163.png" alt="Image description" />
            
                <div class="date">July 15, 2021 - Tips and Tricks</div>
            
                <div class="title">
                    Summer Vibes.. Where<br>
                    to spend the energy.
                </div>
               
                <div class="footer">
            
                    <div class="location">
                    <img src="./img/icons/material-symbols_location-on-outline.png" alt="Location icon" />North Pole
                    </div>
            
                    <div class="comment">
                    <img src="./img/icons/Vector-1.png" alt="Comment icon" />Comment (52)
                    </div>
            
                    <div class="review">
                        <img src="./img/icons/Vector-2.png" alt="review icon" />4.8 of 5
                    </div>
                </div>
            
            </div>
            
            
            </div>    
            