.Urbanist-font{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #596365;
    text-shadow: 1px 1px 0 #dee1e2 ;
  }
  .metal-mania-regular {
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    line-height: 59.44px;
    color:#14677f;
  }
  h1 > span{
    color:#ffa500;
  }
  section{
    padding: 30px;
  }
  .mainBtn{
    background-color: white;
    color:#14677f;
    font-size:20px ;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 18px;
    border: 1px solid #14677f;
    cursor: pointer;
    transition: background-color 1s;
  }
  .mainBtn:hover{
    background-color:#ffa500;
    border: .5px solid #14677f;
    box-shadow: 2px 2px  #14677f;
  }
  
  
  /* media for tabes */
  @media (max-width:992px) {
    .h1Title{
      font-size: 36px;
    }
    .Urbanist-font{
      font-size: 13px;
    }  
    .mainBtn{
      width: 120px;
      font-size:15px ;
      padding: 8px 15px;
      border-radius: 10px;
    }
    .bgLightDanger{
      font-size: 12px;
    }
    .pImgs{
      left:0px;
    }
  }
  


.card {
    border-radius: 11px; /* Rounded corners */
    border: 1px solid var(--blue-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F5FCFE;
}

.card:hover {
    background-color:whitesmoke; /* Hover effect */
}

.highlight {
    font-weight: bold;
    color: darkorange;
}

/* Ensure first card takes full height */
.card.h-100 {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styling for the recent searches section */
.search-item {
    margin-top: 20px;
    background-color: #F5FCFE;
    border: 1px solid var(--blue-color);
    height: 81px;
    border-radius: 10px;
   display: flex;
   align-items: center;
   gap: 30px;
   padding-left: 10px;
    transition: .3s;
   
}
.search-item:hover{
    background-color: #1c738b8b;
    cursor: pointer;

}
.search-item .p{
    color: var(--blue-color);
    font-size: 20px;
    font-weight: 700;
}
.search-item i {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}

.search-item p {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Ensure the font matches the design */
    text-align: start;
    color: #596365;
}
.card-img-top{
    width:100%;
    height: 70%;
}